html {
  box-sizing: border-box;
  height: 100%;
}

*,
:before,
:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Samsung";
  src: url("../font/SamsungSharpSans-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: #000000;
  background-image: url("../img/giphy (1).gif");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  color: white;
  overflow: auto;
}
/* 
body .textcontainer {
  padding: 40px 0;
  text-align: center;
}
body .particletext {
  text-align: center;
  font-size: 48px;
  position: relative;
}
body .particletext.bubbles > .particle {
  opacity: 0;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.5);
  -webkit-animation: bubbles 3s ease-in infinite;
  animation: bubbles 3s ease-in infinite;
  border-radius: 100%;
}
body .particletext.hearts > .particle {
  opacity: 0;
  position: absolute;
  background-color: #cc2a5d;
  -webkit-animation: hearts 3s ease-in infinite;
  animation: hearts 3s ease-in infinite;
}
body .particletext.hearts > .particle:before,
body .particletext.hearts > .particle:after {
  position: absolute;
  content: "";
  border-radius: 100px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #cc2a5d;
}
body .particletext.hearts > .particle:before {
  transform: translateX(-50%);
}
body .particletext.hearts > .particle:after {
  transform: translateY(-50%);
}
body .particletext.lines > .particle {
  position: absolute;
  background-color: rgba(244, 67, 54, 0.5);
  -webkit-animation: lines 3s linear infinite;
  animation: lines 3s linear infinite;
}
body .particletext.confetti > .particle {
  opacity: 0;
  position: absolute;
  -webkit-animation: confetti 3s ease-in infinite;
  animation: confetti 3s ease-in infinite;
}
body .particletext.confetti > .particle.c1 {
  background-color: rgba(76, 175, 80, 0.5);
}
body .particletext.confetti > .particle.c2 {
  background-color: rgba(156, 39, 176, 0.5);
}
body .particletext.fire > .particle {
  position: absolute;
  background-color: rgba(255, 193, 7, 0.5);
  border-radius: 40px;
  border-top-right-radius: 0px;
  -webkit-animation: fires 0.8s linear infinite;
  animation: fires 0.8s linear infinite;
  transform: rotate(-45deg);
  opacity: 0;
}
body .particletext.fire > .particle:before {
  position: absolute;
  content: "";
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 40px;
  border-top-right-radius: 0px;
  background-color: rgba(251, 140, 0, 0.5);
}
body .particletext.sunbeams > .particle {
  position: absolute;
  background-color: rgba(253, 216, 53, 0.5);
  -webkit-animation: sunbeams 3s linear infinite;
  animation: sunbeams 3s linear infinite;
} */

@-webkit-keyframes bubbles {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate(0, -20%);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%);
  }
}

@keyframes bubbles {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate(0, -20%);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%);
  }
}
@-webkit-keyframes hearts {
  0% {
    opacity: 0;
    transform: translate(0, 0%) rotate(45deg);
  }
  20% {
    opacity: 0.8;
    transform: translate(0, -20%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%) rotate(45deg);
  }
}
@keyframes hearts {
  0% {
    opacity: 0;
    transform: translate(0, 0%) rotate(45deg);
  }
  20% {
    opacity: 0.8;
    transform: translate(0, -20%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%) rotate(45deg);
  }
}
@-webkit-keyframes lines {
  0%,
  50%,
  100% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(-100%);
  }
}
@keyframes lines {
  0%,
  50%,
  100% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(-100%);
  }
}
@-webkit-keyframes confetti {
  0% {
    opacity: 0;
    transform: translateY(0%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  35% {
    transform: translateY(-800%) rotate(270deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(2000%) rotate(1440deg);
  }
}
@keyframes confetti {
  0% {
    opacity: 0;
    transform: translateY(0%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  35% {
    transform: translateY(-800%) rotate(270deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(2000%) rotate(1440deg);
  }
}

.DX-container {
  margin-top: 10vh;
  margin-bottom: -20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.DX {
  font-weight: 400;
  text-align: center;
  text-decoration: overline blue;
}

.container {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  visibility: hidden;
  position: relative;
  overflow: hidden;
}

.container div.six {
  top: 10vh;
  z-index: 1;
}

.container div.seven,
.container div.eight {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.container > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
}

.one {
  font-size: 4.5rem;
}

.one > img {
  vertical-align: middle;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.two {
  font-size: 1.2rem;
  font-weight: lighter;
}

.three {
  font-size: 3rem;
}

.four .text-box {
  width: 500px;
  margin: 0 auto;
  border: 3px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  max-width: 550px;
  width: auto;
}
.text-box p {
  margin: 0;
  text-align: left;
}

.text-box span {
  visibility: hidden;
}

.text-box .fake-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #fff;
  background-color: rgb(21, 161, 237);
  padding: 5px 8px;
  border-radius: 3px;
}

.five p {
  font-size: 2rem;
  position: absolute;
  left: 0;
  right: 0;
}

.idea-3 strong {
  padding: 3px 5px;
  border-radius: 3px;
  display: inline-block;
}

.five .idea-5 {
  font-size: 4rem;
}

.idea-5 span,
.idea-6 span,
.wish-hbd span {
  display: inline-block;
}

.idea-6 span {
  font-size: 15rem;
}

.six {
  position: relative;
  margin-top: -15vh;
  transform: scale(0.6);
}

.six img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.six .hat {
  position: absolute;
  width: 80px;
  top: -20px;
  left: 41.5%;
}

.baloons img {
  display: inline-block;
  position: absolute;
}

.baloons img:nth-child(even) {
  left: -10%;
}

.baloons img:nth-child(odd) {
  right: -10%;
}

.baloons img:nth-child(3n + 0) {
  left: 30%;
}

.eight svg {
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: -1;
}

.eight svg:nth-child(1) {
  top: 7vh;
  left: 5vw;
  fill: #bd6ecf;
}

.eight svg:nth-child(2) {
  top: 23vh;
  left: 35vw;
  fill: #7dd175;
}

.eight svg:nth-child(3) {
  top: 33vh;
  left: 23vw;
  fill: #349d8b;
}

.eight svg:nth-child(4) {
  top: 43vh;
  left: 57vw;
  fill: #347a9d;
}

.eight svg:nth-child(5) {
  top: 68vh;
  left: 7vw;
  fill: #c66053;
}

.eight svg:nth-child(6) {
  top: 42vh;
  left: 77vw;
  fill: #bfaa40;
}

.eight svg:nth-child(7) {
  top: 68vh;
  left: 83vw;
  fill: #e3bae8;
}

.eight svg:nth-child(8) {
  top: 86vh;
  left: 37vw;
  fill: #8762cb;
}

.eight svg:nth-child(9) {
  top: 94vh;
  left: 87vw;
  fill: #9a90da;
}

.wish-hbd {
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
}

.wish h5 {
  font-weight: lighter;
  font-size: 2rem;
  margin: 10px 0 0;
}

.nine p {
  font-size: 2rem;
  font-weight: lighter;
}

#replay {
  z-index: 3;
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-height: 1000px) {
  .six .hat {
    left: 0%;
    top: -5%;
  }
}

@media screen and (max-height: 800px) {
  .six .hat {
    left: 0%;
    top: -10%;
  }
}

@media screen and (max-height: 700px) {
  .six .hat {
    left: 16%;
    top: -10%;
  }
}

@media screen and (max-height: 850px) and (max-width: 538px) {
  .six .hat {
    left: 16%;
    top: -10%;
  }
}

@media screen and (max-width: 538px) {
  body {
    background-position-x: -45rem;
  }
  .container {
    width: 90%;
  }

  .four .four1 .text-box {
    width: auto;
  }

  .text-box .fake-btn {
    width: auto;
    right: 5px;
    bottom: -38px;
  }

  .idea-5 span {
    display: block;
  }

  .idea-6 span {
    font-size: 10rem;
  }

  .six .hat {
    width: 50px;
    top: -20px;
  }

  .wish-hbd {
    font-size: 2.2em;
  }

  .wish h5 {
    font-size: 1.4rem;
  }

  .nine p {
    font-size: 1.5rem;
    font-weight: lighter;
  }
}
@media screen and (max-width: 800px) {
  body {
    background-color: black;
    background-position-x: -0rem;
    background-repeat: repeat;
    transition: 2s;
  }

  #demo,
  #demo1 {
    top: 50%;
    margin-top: 10vh;
    width: 100vw;
  }
}

#replay {
  text-decoration: underline rgba(30, 143, 255, 0.37);
}

.hub {
  display: inline;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 10px;
  margin-left: 1%;
  margin-top: 5%;
  margin-right: 2%;
  transform: translate(-50%, -50%);
}

.hub span:nth-child(2) {
  background: #ff9900;
  color: #000000;
  border-radius: 9px;
  padding: 8px 5px 10px 2px;
  display: inline-block;
}

#demo,
#demo1 {
  font-family: "Samsung";
}
#demo {
  margin-top: 35vh;
  text-align: center;
  font-weight: bolder;

  font-size: 8vw;
  text-decoration: rgb(63, 61, 83) wavy underline;
}
#demo1 {
  text-align: center;
  font-weight: bolder;

  font-size: 5vw;
  text-decoration: rgb(66, 61, 121) solid overline;
}

div.locked {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.P-dx {
  text-align: center;
  font-size: 2vw;
  color: rgb(195, 212, 35);
  text-decoration: rgba(121, 61, 61, 0.295) wavy overline;
}

.demo,
.demo1 {
  position: absolute;
  text-align: center;
  top: 50%;
  /* margin-top: -32px; */
  width: 100%;
  z-index: 2;
}

img#bbkd {
  margin-left: -50%;
  min-height: 100%;
  height: auto;
  left: 50%;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 0;
  min-width: 1024px;
}
@media screen and (max-width: 1024px) {
  img#bbkd {
    left: 50%;
    margin-left: -50%;
  }
}

.glow {
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px rgb(58, 51, 51), 0 0 10px #fff, 0 0 30px #3454e6,
      0 0 40px #9b0303, 0 0 50px #e60000, 0 0 40px #e20000, 0 0 50px #e60000;
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 10px #4d85ff, 0 0 40px #ff4da6,
      0 0 50px #680000, 0 0 10px #ff4d4d, 0 0 70px #ff4d4d, 0 0 80px #ff4d4d;
  }
}

.loading {
  width: 150px;
  text-align: center;
  line-height: 50px;

  transform: translateY(-50%);
}
.loading span {
  position: relative;
  margin-left: 20px;
  z-index: 999;
  color: #fff;
}
.loading:before {
  content: "";
  background: #371b9c;
  width: 128px;
  height: 36px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin: auto;

  animation: 2s loadingBefore infinite ease-in-out;
}

@keyframes loadingBefore {
  0% {
    transform: translateX(-14px);
  }
  50% {
    transform: translateX(14px);
  }
  100% {
    transform: translateX(-14px);
  }
}

.loading:after {
  content: "";
  background: #ff3600;
  width: 14px;
  height: 60px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.5;

  animation: 2s loadingAfter infinite ease-in-out;
}

@keyframes loadingAfter {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-50px);
  }
}

@keyframes bubbles {
  0% {
    opacity: 0;
  }
  20% {
    //show and hint at moving
    opacity: 1;
    transform: translate(0, -20%);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%); //Big bubbles move faster
  }
}
@keyframes hearts {
  0% {
    opacity: 0;
    transform: translate(0, 0%) rotate(45deg);
  }
  20% {
    //show and hint at moving
    opacity: 0.8;
    transform: translate(0, -20%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%) rotate(45deg); //Big hearts move faster
  }
}
@keyframes lines {
  0%,
  50%,
  100% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(-100%);
  }
}
@keyframes confetti {
  0% {
    opacity: 0;
    transform: translateY(0%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  35% {
    transform: translateY(-800%) rotate(270deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(2000%) rotate(1440deg);
  }
}
@keyframes fires {
  0% {
    transform: rotate(-70deg) translateY(0%);
  }
  25% {
    transform: rotate(-20deg) translateY(-5%);
    opacity: 1;
  }
  50% {
    transform: rotate(-70deg) translateY(-10%);
  }
  75% {
    transform: rotate(-20deg) translateY(-20%);
  }
  100% {
    transform: rotate(-70deg) translateY(-40%);
    opacity: 1;
  }
}
@keyframes sunbeams {
  0% {
    transform: translateY(40%) rotate(0deg);
  }
  50% {
    transform: translateY(-40%) rotate(180deg);
  }
  100% {
    transform: translateY(40%) rotate(360deg);
  }
  0%,
  14%,
  17%,
  43%,
  53%,
  71%,
  80%,
  94%,
  100% {
    opacity: 0;
  }
  6%,
  15%,
  24%,
  28%,
  48%,
  55%,
  78%,
  82%,
  99% {
    opacity: 1;
  }
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
}

#DXcontainer {
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: center;
  min-height: 100vh;
  padding: 1em;
  width: 100%;
}

.P-dx {
  animation: text-shadow 1.5s ease-in-out infinite;

  line-height: 1;
}

.P-dx:hover {
  animation-play-state: paused;
}

.glow11 {
  animation: text-shadow 10s ease-out infinite;

  line-height: 1;
}

.glow11:hover {
  animation-play-state: paused;
}
@keyframes text-shadow {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }

  20% {
    transform: translateY(-1em);
    text-shadow: 0 0.125em 0 #0c2ffb, 0 0.25em 0 #2cfcfd, 0 -0.125em 0 #fb203b,
      0 -0.25em 0 #fefc4b;
  }

  40% {
    transform: translateY(0.5em);
    text-shadow: 0 -0.0625em 0 #0c2ffb, 0 -0.125em 0 #2cfcfd,
      0 0.0625em 0 #fb203b, 0 0.125em 0 #fefc4b;
  }

  60% {
    transform: translateY(-0.25em);
    text-shadow: 0 0.03125em 0 #0c2ffb, 0 0.0625em 0 #2cfcfd,
      0 -0.03125em 0 #fb203b, 0 -0.0625em 0 #fefc4b;
  }

  80% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  /* background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  ); */
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 35vh;
  font-family: "Samsung";
  text-transform: uppercase;
  font-size: 6em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ff0000, 0 0 1.5rem #ac1313,
    -0.2rem 0.1rem 1rem #b91010, 0.2rem 0.1rem 1rem #a51818,
    0 -0.5rem 2rem #8d023e, 0 0.5rem 3rem #810a3e;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #29caaf, 0 0 1.5rem #66a0d6,
      -0.2rem 0.1rem 1rem #f2afff, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2424, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #2c1720;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}
.flicker1 {
  color: black;
  animation: shine 1.25s forwards, blink 0.65s 1s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

button {
  margin-top: 20px;
  font-family: "Samsung";
  padding: 3px;
  border-radius: 8px;
  color: #0c2ffb;
  border-color: #680000;
  background-color: transparent;
  cursor: pointer;
}

#audio {
  position: absolute;
  bottom: 0%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
